*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stelle li{
  display: inline-block;
  color: grey;
}
.nero i{
  color:black;
}
.bandiere{
  height: 20px;
  width: auto;
}
.copertina{
  height: 250px;
  width: 190px;
  background-color: red;
}
.copertina img{
  height: 100%;
  width: 100%;
}
.sezione{
  float: left;
  width: 14.28%;
  padding: 20px;
  height: 400px;
}
ul{
  list-style-type: none;
}
